@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');



body{
    background-color: darkgray!important;
}



footer{
    background-color: #566D7E !important;
    position: absolute;
    width: 100%;
    height: 56px;
    left: 0px;
    top: 995px;
}

.rectangle{
    width: 233px;
    height: 45px;
    left: 9px;
    top: 966px;
    margin-top: 5px;
    background: #C4C4C4;
    border: 1px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.rectangle img{
    position: absolute;
    width: 92px;
    height: 95px;
    left: 0px;
    top: -21px;
}

.rectangle h5{
    position: absolute;
    width: 92px;
    height: 95px;
    left: 90px;
    top: 15px;
    color: #0a1626;
}

.imgCenter{
    position: absolute;
    /*width: 588px;*/
    /*height: 581px;*/
    left: 550px;
    top: 147px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.dispo{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}


/*.dossier1{*/
/*    position: absolute;*/
/*    width: 270px;*/
/*    height: 270px;*/
/*    left: 48px;*/
/*    top: 215.93px;*/
/*}*/

/*.text1{*/
/*    position: absolute;*/
/*    width: 69px;*/
/*    height: 24px;*/
/*    left: 144px;*/
/*    top: 393px;*/
/*}*/
/*.dossier2{*/
/*    position: absolute;*/
/*    width: 270px;*/
/*    height: 270px;*/
/*    left: 48px;*/
/*    top: 377.93px;*/
/*}*/
/*.text2{*/
/*    position: absolute;*/
/*    width: 93px;*/
/*    height: 26px;*/
/*    left: 144px;*/
/*    top: 560px;*/
/*}*/

/*.dossier3{*/
/*    position: absolute;*/
/*    width: 270.93px;*/
/*    height: 270.93px;*/
/*    left: 49px;*/
/*    top: 524px;*/
/*}*/

/*.text3{*/
/*    position: absolute;*/
/*    width: 93px;*/
/*    height: 26px;*/
/*    left: 144px;*/
/*    top: 702px;*/
/*}*/

a{
    display: block;
    padding: 2px;
}

.imgTimer{
    position: absolute;
    width: 426px;
    height: 426px;
    right: 10px;
    top: -50px;
}

.modal-content{
    height: 800px !important;
}

.metro1{
    position: absolute !important;
    left: 60% !important;
    top: 30% !important;
    bottom: -10.27% !important;
    transform: rotate(0.15deg) !important;
}

#enigme{
    position: absolute;
    width: 753px;
    height: 291px;
    left: 10%;
    top: 55%;
    border-radius: 10% / 10%;
    background: #C4C4C4
}

#fondEnigme{
    background: #EF7D00;
    margin-top: 10px;
    border-radius: 30% 30% 10% 10%;
}

.modal-content{
    max-height: 100% !important;
    max-width: 100% !important;
}
.navDossier{
    max-height: 100% !important;
    max-width: 100% !important;
}

.navDossier:hover{
    color:white;
    background-color: #AAAAAA;
    border-radius: 20px;
}

.navImage{
    float:left;
}

.navImage :hover{
    color: #AAAAAA;
}

.nav2{
    visibility: hidden;

}

.linkImage{
    text-decoration: none;
    color: #0a1626;
    background-color: white;

}

/* pour afficher une fleche au bout de texte au survol de la souris
/*.linkImage a:hover:before {*/
/*    content:" » ";*/
/*}*/

.linkImage:hover {
    color:white;
    background-color: gray !important;
    cursor: pointer;
    height: 40px;
    border-radius: 6px;
}

.linkImage p{

    padding-top: 4px;
    padding-left: 40px;

}

.linkImage a{
    text-decoration: none;
    color: black;
}

.nav3{
    display: none;
}

.nav2.visible{
    display: block;
    padding-right: 0px;
}

.nav3.visible{
    display: block;
}

.navDossier.active{
    background-color: #AAAAAA;
    border-radius: 20px;

}

a.active{
    background-color: #AAAAAA;
    border-radius: 6px;
    text-decoration: none;
    color: white;
}




