@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');

*{
  padding: 0;
  margin: 0;
}

body{
  position: relative;
  background-color:  #c68c53a8;
  font-family: 'Architects Daughter', cursive;
}

button{
  padding: 6px;
  outline: none;
  cursor: pointer;
  font-family: inherit;
  border-radius: 5px;
  background: whitesmoke;
  border: 1px solid lightgray;
}

button:hover{
  color: white;
  background-color: rgba(0, 0, 0, 0.1);
}

#modal{
  position: fixed;
  z-index: 100000;
  /*width: 100%;*/
  /*min-height: 100vh;*/
  /*background-color: rgba(0, 0, 0, 0.5);*/
  overflow: hidden;
}

#inner_modal{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;

}

#inner_modal textarea{
  width: 276px;
  height: 276px;
  padding: 25px;
  outline: none;
  resize: none;
  overflow: hidden;
  font-size: 1.5rem;
  font-family: inherit;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.9);
}

.details textarea{
  outline: none;
  resize: none;
  background: transparent;
  border: none;
  font-size: 1.5rem;
  font-family: inherit;
  overflow-wrap: break-word !important;
}

#hide{
  font-size: 1.4rem;
  color: red;
  cursor: pointer;
  margin-top: -240px;
  margin-left: -35px;
}

#check-icon{
  font-size: 1.4rem;
  color: green;
  cursor: pointer;
  margin-top: -236px;
  margin-left: -55px;

}

#inner_modal i:hover{
  color: lightgray;
}

/*.container{*/
/*  width: 1280px;*/
/*  margin: auto;*/
/*}*/

#set {
  width: auto;
  height: 723px;
  margin: auto;
  overflow: hidden;
  border: 2px solid;
  background-image: url("../images/Fondtableau.svg");
  background-size: cover;
}

.ui-widget-content{
  outline: none;
  resize: none;
  background: transparent;
  border: none;
}

#header{
  color: white;
  padding: 0 20px;
  min-height: 70px;
  text-shadow: 1px 1px black;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.fas{
  color: #c2ff3d;
}

#all_notes{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 50px;
}

.note{
  width:100px;
  height: 100px;
  /*transition: 2s;*/
  cursor: pointer;
  overflow-wrap: break-word;
  box-shadow: 0px 10px 24px 0px rgba(0,0,0,0.75);

}

.note h1{
  font-size: 1rem;
}

.details {
  margin-top: -13px;
  padding: 10px 10px 0px 10px;
  font-size: 1rem;
  overflow-wrap: break-word;
}

.details i{
  color: whitesmoke;
  cursor: pointer;
  text-shadow: 1px 1px #BBB;
}

#all-icone{
  font-size: 0.5rem;
  cursor: pointer;
  margin-top: 282px;
  margin-left: -275px;

}


.note-menu {
  position: absolute;
  bottom: 105px;
  right: -30px;
  z-index: 3;
  background-color: lightgray;
  display: inline-block;
  border-radius: 15px;
  width: 160px;
  padding: 0px 5px 5px 5px;
  -moz-box-shadow: 2px 2px 6px 2px#777777;
  -webkit-box-shadow: 2px 2px 6px 2px #777777;
  box-shadow: 2px 2px 6px 2px #777777;
  text-align: center;
  animation-name: fade-in;

}

.option-button {
  border: none;
  background-color: rgba(0,0,0,0);
  color: gray;
  cursor: pointer;

}

.color-option {
  display: inline-block;
  height: 4px;
  width: 4px;
  border-radius: 7px;
  border: 1px solid gray;
  margin: 1px;
  cursor: pointer;
}

.color-option:active {
  position: relative;
  bottom: 5px;
}

.delete-note{
  display: flex;
  float: right;
  border: none;
  background-color: rgba(0,0,0,0);
  color: gray;
  cursor: pointer;
  padding-top: 10px;
}

@media(max-width:1280px){
  .container{
    width: 100%;
  }
}

@media(max-width:768px){
  #header{
    padding: 20px;
    gap: 10px;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}
