<form method="post" class="col-1" action="{{ path('app_dossier_delete', {'id': dossier.id}) }}" onsubmit="return confirm('Voulez vous vraiment supprimer ce dossier ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ dossier.id) }}">
    <button class="btn"><i class="fa-solid fa-trash-can text-black"></i></button>
</form>
