<form method="post" class="col-1" action="{{ path('app_enigme_trois_delete', {'id': enigme3.id}) }}" onsubmit="return confirm('Voulez vous vraiment supprimer cette énigme ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ enigme3.id) }}">
    <button class="btn"><i class="fa-solid fa-trash-can text-black"></i></button>
</form>
