{% extends 'base_admin.html.twig' %}

{% block title %}Éditer une énigme{% endblock %}

{% block body %}
    <div class="container newE1 bgNewE1">
        <div class="card mt-5 col-6 offset-3 bg-light">
            <h2 class="text-center my-5">Éditer l'énigme </h2>
            {{ include('admin_interface/enigme_trois/_form.html.twig', {button_label: 'Éditer'}) }}
            <div class="text-center">
                <a href="{{ path('app_enigme_trois_index') }}" class="btn buttonStyle1 mb-5">Retour</a>
            </div>
        </div>
    </div>
{% endblock %}
